.tablecell{
	width:160px;
	display: inline-block;
	font-size: 16px;
	margin-left: -4.5px;
	text-align:center;
}

.leftborder{
	border-left: 1px solid #e8e8e8;
}

.withborder{
	border:1px solid #e8e8e8;
}

.cellheight{
	height:40px;
	margin-top:-1px;
}

.tableHeaderRow{
	font-weight: 600;
	font-size:14px;
}
.blackout{
	background-color:#e7e7e7;
}

.thinline{
	padding:0px !important;
	margin:0px !important;
	height:1px;
}
.fatline{
	padding:0px !important;
	margin:0px !important;
	height:10px;	
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableCell, .divTableHead {
	display: table-cell;
	/*padding: 3px 10px;*/
}

.divTableBody {
	display: table-row-group;
}

.cellcentered{
	text-align: center;
}

.checklabel{
	width:30px;
	height:30px;
}

.numinput{
	width:85px;
}

.deleteoption{
	color:red;
}

.optionconfigcheck{
	margin-left:9px;
}

#optionalExtrasList{
	background-color: #fafafa;
	color:#353535;
	min-height:300px;
	border:1px solid #e8e8e8;
    margin-top: 50px;
}


.dashbutton{
	padding:10px;
	border:1px solid #e8e8e8;
	border-radius:3px;
	float:left;
	cursor:pointer;
	text-align: center;
}

.dashbutton:hover{
	background-color:#e1e1e1;
	color:#333;
}

.dash-highlighted{
	background-color:orange;
}

.unpaddedrow{
	margin: 0px 0px;
}


#edit-optional-extra-container h3{
	text-align: center;
}

.option-attribute{
	margin:10px;
	border:1px solid #e8e8e8;
}

.optionImageContainer img{
	max-width:200px;
}

.adminsection{
	background-color: #fdfdfd;
	padding:20px;
	border-radius:10px;
	box-sizing: border-box;
}

.dashboardTextbox{
	width:80%;
}
.paddedrow{
	margin:10px 0px;
}


.adminsection select{
	padding:10px;
	font-size: 22px;
}

.img50pix img{
	max-width:50px;
}

.img150pix img{
	max-width:150px;
}

.imageselector{
	min-height:270px;
	background-size: cover;
	background-position: center;
}

.btn-red{
	background-color: red;
	color:white;
	margin-top:20px;
}

.dashboardtable td,.dashboardtable th{
    padding: 3px 10px;
    border: 1px solid #636b6f;
}

.orange{
	background-color:orange;
	color:black;
}

.green{
	background-color:green;
	color:black;
}


input[type=checkbox] {
    visibility: visible;
}