
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

.configuratorImg{
    max-width: 18vw;
    margin: 40px 0px;
}

#sidebar{
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 69px;
    right: 0px;
    border-left: 1px solid #e8e8e8;
}

#sidebar ol li{
    padding:15px 0px;
}

#sidebar .liunpadded li{
    padding:0px;
}


.configopt .col-sm-2 h3{
    font-size:1.2em;
}

.configopt{
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    padding: 12px;
}

#configurationselector label{
    padding: 25px;
    border: 1px solid #e8e8e8;
    text-transform: uppercase;
    /* margin: 10px; */
    font-size: 20px;
    /* border-radius:10px; */
}

#configurationselector input[type="radio"]:checked+label{
    /* background-color: #48b4b2; */
    color: #353535;
    font-weight: 500;
    /* border: 1px solid #999999; */
    box-shadow: 1px 1px 12px #999999;
    text-decoration: underline;
    font-size: 19px
}

.ajaxradios{
    display:none;
}

#tagline{
    font-size: 55px;
    line-height:2.5;
}
#navbar{
    height: 69px;   
    background-color: #83817e;
    position: fixed;
    width: 100vw;
}

#footer{
    height: 69px;   
    background-color: #83817e; 
    padding-top: 20px;
    position:absolute;
    width:100%;
}

.brandingimg{
    max-width: 20vw;
}

#logoimg{    
    position: absolute;
    z-index: 2;
}

#navbuttons{
    margin-left: 33%;
    width: 50%;
}

#navbuttons .col-sm-4{
    display:inline-block;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #fafafa;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


input[type=checkbox] {
    visibility: hidden;
}

#configurator-container{max-width:80vw;margin-left:0px;}


.configurator-title{
    font-weight: 300;
    color: #333;
    font-size: 20px;
    width:70%;
    padding-left: 15px;
}
.configurator-price{
    font-weight: 300;
    color: #333;
    font-size: 18px;
}

/* SLIDE THREE */
.slideCheckbox {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 4px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideCheckbox:after {
    content: 'NO';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideCheckbox:before {
    content: 'YES';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}

.slideCheckbox label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideCheckbox input[type=checkbox]:checked + label {
    left: 43px;
}

.checkboxRow{
    background-color:#a8a8a8;
    margin:10px 0px;
}

.featureRowHeaderTable{
    width:100%;
    text-align: left;
}

#pricing-table{
    margin:auto;
    width:100%;
    color:#353535;
}

.slideaway{
    display:none;
    /* margin: 0px 10px; */
    margin-top: -10px;
    border: 1px solid #a8a8a8;
}
.descriptioncontainer{
    width:49%;
    display:inline-block;
}
.imagecontainer{
    width:49%;
    display:inline-block;
}
.imagecontainer img{
    max-width: 400px;
    max-height:400px;
}
.expand-option p{
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 0px;
    padding: 5px;
    cursor: pointer;
    color:#333;
}


.bannerimg{
    height: 70vh;
    background-position: center;
    background-size: cover;
}

#homebanner{
    background-image: url(/img/img1.jpg);
}

#contactbanner{
    background-image: url(/img/map.jpg);
    height:35vh;
}

.boatcard{
    border: 1px solid #a8a8a8;
    padding: 30px;    
    box-sizing: border-box;
    margin-left:8%;
    margin-bottom:50px; 
}
.cardimage{
    height: 400px;
    background-position: center;
    background-size: cover;
}



#cta{
    color: #fafafa;
    text-shadow: 1px 1px #353535;
    text-transform: uppercase;
}

#cta h3{
    font-size: 70px;
}


.homecard{
    min-height:20vw;
    background-position: center;
    background-size: cover;
    display: inline-block;
}





#configuration-table{
    width:100%;
    max-width:1100px;
    margin:0px auto;
    margin-top:100px;
    min-height:55vh;
}

#configuration-table .row .col-sm-4{
    border:1px solid #e8e8e8;
    text-align: center;
    box-sizing: border-box;
    padding:10px;
}
#configuration-table .row .col-sm-4 h2{
    font-size: 20px;
}
#configuration-table .row .col-sm-4 p{
    font-size:15px;
}



.tblrow{
    width:100%;
}
.halfcell{
    width:50%;
    float: left;
}

.rightcell{
    text-align: left;
    padding-left:20px;
}
.leftcell{
    text-align: right;
    padding-right:20px;
}


#extras{
    border-top:1px solid #e8e8e8;
    padding-top:30px;
}





.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


@media only screen and (max-width: 600px){
    .boardcard{
        margin-left:10px;
        margin-right:10px;
    }

    .cardimage{
        height: 50vw;
    }
}


