
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

body{
    overflow-x: hidden;
}

a:hover{
    text-decoration: none;
}

.cookiebuttons{
    margin:0px 10px;
}

#cookiebar{
    position: fixed;
    top: 69px;
    width: 100vw;
    right: 0px;
    height: 69px;
    background-color: #fdfdfd;
    border-bottom: 1px solid #e8e8e8;
    display:none;
}
#cookieinfo{
    width:80vw;
    float:right;
    padding-top:19px;
}

#blankout{
    position: fixed;
    width:100vw;
    height:100vw;
    margin:0px;
    padding:0px;
    left:0px;
    top:0px;
    background-color:#fdfdfd;
    opacity:0.7;
    z-index:3;
    display:none;
}
#modal{
    text-align: center;
    position: absolute;
    height:50vh;
    top:25vh;
    width:70vw;
    left:15vw;
    background-color: #fdfdfd;
    border:10px solid #e7e7e7;
    z-index: 4;
    border-radius:10px;
    display:none;
}
#modal p{
    margin-top:40px;
}

#modal h4{
    margin-top:50px;
}

.userinput{
    width: 30vw;
    height: 40px;
    font-size: 30px;
    text-align: center;
    margin:10px 0px;
}


.imagetile{
    height:400px;
    background-position: 
    center;background-size: cover;
}

.configuratorImg{
    max-width: 18vw;
    margin: 40px 0px;
}

#sidebar{
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 69px;
    right: 0px;
    border-left: 1px solid #e8e8e8;
}

#sidebar ol li{
    padding:15px 0px;
}

#sidebar .liunpadded li{
    padding:0px;
}

#sidebar h4{
    font-size:1vw;
}

#sidebar .configButtons{
    margin-top:0px;
    float:left;
    box-sizing: border-box;
    width:49%;
    padding:10px;
}
#sidebar .configButtons .btn-info{
    margin-top:0px;
    width: 100%;
    font-size: 1.2vw;
    text-align: center;
}

.rowitem{
    float:left;
}
.rowitemright{
    float:right;
}


.configopt .col-sm-2 h3{
    font-size:1.2em;
}

.configopt{
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    padding: 12px;
}

#configurationselector label{
    padding: 25px;
    border: 1px solid #e8e8e8;
    text-transform: uppercase;
    /* margin: 10px; */
    font-size: 20px;
    /* border-radius:10px; */
}

#configurationselector input[type="radio"]:checked+label{
    /* background-color: #48b4b2; */
    color: #353535;
    font-weight: 500;
    /* border: 1px solid #999999; */
    box-shadow: 1px 1px 12px #999999;
    text-decoration: underline;
    font-size: 19px
}

.ajaxradios{
    display:none;
}

.tagline{
    font-size: 25px;
    /* line-height: 2.5; */
    color: #fdfdfd;
    font-weight: 300;
    text-transform: uppercase;
    max-width: 1100px;
    max-width:75vw;
    margin:auto;
}

.taglineholder{
    background-color: #ff7404;
    padding: 20px 0px;
    border-top: 25px solid #83817e;
    border-bottom: 25px solid #83817e;
}

.textcontainer{
    padding:40px 100px;
}

#navbar{
    height: 69px;   
    background-color: #83817e;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

#footer{
    height: 69px;   
    background-color: #83817e; 
    padding-top: 20px;
    position:absolute;
    width:100%;
}

.brandingimg{
    max-width: 20vw;
    cursor:pointer;
}

#logoimg{    
    position: absolute;
    z-index: 3;
}

#navbuttons{
    margin-left: 33%;
    width: 50%;
}

#navbuttons .col-sm-4{
    display:inline-block;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #fafafa;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


input[type=checkbox] {
    visibility: hidden;
}
.tickbox{
    visibility: visible;
}

#configurator-container{max-width:80vw;margin-left:0px;}


.configurator-title{
    font-weight: 300;
    color: #333;
    font-size: 20px;
    width:70%;
    padding-left: 15px;
}
.configurator-price{
    font-weight: 300;
    color: #333;
    font-size: 18px;
}

/* SLIDE THREE */
.slideCheckbox {
    width: 80px;
    height: 26px;
    background: #e8e8e8;
    margin: 4px;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideCheckbox:after {
    content: 'NO';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideCheckbox:before {
    content: 'YES';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}

.slideCheckbox label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideCheckbox input[type=checkbox]:checked + label {
    left: 43px;
}

.checkboxRow{
    margin: 10px 0px;
    border: 1px solid #a8a8a8;
}

.featureRowHeaderTable{
    width:100%;
    text-align: left;
}

#pricing-table{
    margin:auto;
    width:100%;
    color:#353535;
}

.slideaway{
    display:none;
    /* margin: 0px 10px; */
    margin-top: -10px;
    border: 1px solid #a8a8a8;
}
.descriptioncontainer{
    width:49%;
    display:inline-block;
}
.imagecontainer{
    width:49%;
    display:inline-block;
}
.imagecontainer img{
    max-width: 400px;
    max-height:400px;
}
.expand-option p{
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 0px;
    padding: 5px;
    cursor: pointer;
    color:#333;
}


#navbar .navborder{
    border: 1px solid #ff7404;
    padding: 10px 25px;
}
#navbar .navborder:hover{
    background-color:#fdfdfd;
    color:#83817e;
}

.bannerimg{
    height: 70vh;
    background-position: center;
    background-size: cover;
}

#homebanner{
    background-image: url(/img/img1.jpg);
}

#contactbanner{
    background-image: url(/img/map.jpg);
    height:35vh;
}
#databanner{
    background-image: url(/img/data.jpg);
    height:35vh; 
    color: #fdfdfd;
    text-shadow: 1px 1px 2px #83817e;
}
.boatcard{
    border: 1px solid #a8a8a8;
    padding: 30px;    
    box-sizing: border-box;
    margin-left:8%;
    margin-bottom:50px; 
}
.cardimage{
    height: 400px;
    background-position: center;
    background-size: cover;
}



#cta{
    color: #fafafa;
    text-shadow: 1px 1px #353535;
    text-transform: uppercase;
}

#cta h3{
    font-size: 3.5vw;
}


.homecard{
    min-height:20vw;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.optioncard{border:1px solid #e8e8e8;}
.optioncard h2{margin-top:30px;}
.optioncard img{
    max-width:17vw;
}
.optioncard p{
    max-width: 17vw;
    margin: 10px auto;
}

#configuration-table{
    width:100%;
    max-width:1100px;
    margin:0px auto;
    margin-top:100px;
    min-height:55vh;
}

#configuration-table .row .col-sm-4{
    border:1px solid #e8e8e8;
    text-align: center;
    box-sizing: border-box;
    padding:10px;
}
#configuration-table .row .col-sm-4 h2{
    font-size: 20px;
}
#configuration-table .row .col-sm-4 p{
    font-size:15px;
}



.tblrow{
    width:100%;
}
.halfcell{
    width:50%;
    float: left;
}

.rightcell{
    text-align: left;
    padding-left:20px;
}
.leftcell{
    text-align: right;
    padding-right:20px;
}


#extras{
    border-top:1px solid #e8e8e8;
    padding-top:30px;
    overflow-y: scroll;
    height: 40vh;    
}





.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}



#narrowNav{
    top: 50px;
    position: fixed;
    right: 0px;
    background-color: #83817e;
    padding: 20px;
    border-left: 1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
}

#narrowNav ul {
    list-style-type: none;
    padding-left:0px;
}

#narrowNav ul li{
    padding:10px 0px;   
}

#narrowNav ul li a{
    padding:10px 0px;
    color:#e8e8e8;
    text-transform: uppercase;
    font-weight: 500;
}

#content-holder{
    box-sizing: border-box;
    padding-top:69px;
    padding-bottom:69px;
}


.btn-info{
    background-color: #ff7404;
    border-color:#ff7404;
    margin-top:20px;
}
.btn-info:hover{
    background-color:#83817e;
    border-color:#83817e;
}

#nbclogoimg{
    max-width:20vw;
}


#mobilePriceSummary{
    width:100vw;
    position:fixed;
    height:50px;
    top:50px;
    left:0px;
    border-bottom:1px solid #e7e7e7;
    background-color:#fdfdfd;
    z-index:2;
    color:#636b6f;
    display:none;
}

#viewSummaryButton{
    position: absolute;
    right: 25px;
    top: 13px;
}

@media only screen and (max-width: 600px){
    .boardcard{
        margin-left:10px;
        margin-right:10px;
    }

    .cardimage{
        height: 50vw;
    }
}




@media screen and (min-width: 1200px) {
    .pcdevice{
        display:block;
    }

    #narrowNav{
        display:none;
    }
    .mobiledevice{
        display:none;
    }
}
@media screen and (max-width: 1199px) {
    .pcdevice{
        display:none;
    }

    .mobiledevice{
        display:none;
    }

    #expand-nav-button{
        display:block;
    }

    .brandingimg{
        width:200px;
        max-width:50vw;
    }
    #content-holder{
        padding-top:50px;
        padding-bottom:50px;
    }

    #navbar,#footer{
        height:50px;
    }
    .top-right{
        top:12px;
    }
    .bannerimg{
        max-height:100vw;
    }
    .textcontainer{
        padding:40px 35px;
    }
    .tagline{
        font-size:19px;
    }
}

@media screen and (max-width: 999px) {

    #sidebar{
        width:100%;
        position:initial;
        height:initial;
        text-align:left;
        padding-top:0px;
    }
    #sidebar .container{
        padding-top:50px;
    }
    #configurator-container{
        width:100vw;
        max-width:100vw;
    }
    .configurator-title{
        width:60%;
        font-size: 14px;
    }

    .config-slider-container{
        min-width: 165px;
    }
    .configuratorImg{
        max-width:100vw;
        margin:0px auto;
    }
    .title{
        font-size: 40px
    }
    #mobilePriceSummary{
        display:block;
    }
    #sidebar h4{
        font-size:15px;
    }   

    #sidebar .configButtons .btn-info{
        font-size: 15px; 
    }
}

@media screen and (max-width: 575px) {

    .homecard{
        min-height:40vw;
    }
    #nbclogoimg{
        max-width:70vw;
    }

    .userinput{
        width: 50vw;
        font-size: 20px;
    }    
    #modal{
        height:70vh;
        top:15vh;
    }
}

/* */